* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  padding: 24px;
  justify-content: center;
}
nav ul a {
  color: var(--fontcolor);
  text-decoration: none;
  padding: 23px;
  font-size: 23px;
}
.brand {
  color: var(--fontcolor);
  font-size: 32px;
  position: absolute;
  left: 45px;
}
span {
  font-size: 33px;
  color: yellow;
}
/* button {
  position: absolute;
  right: 37px;
  padding: 5px;
  margin: 3px;
} */
 .button{
  /* position: absolute; */
   right:44px;

 }
 .btn{
  margin:3px 6px;
  
 }
 
nav ul a:hover{
  color: rgb(230, 230, 112);

}
:root {
  --fontcolor: white;
  --primarycolor: black;
}
